@model List<Testimonial>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<h2>Referans Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Ünvan</th>
        <th>Referans Yorumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
		count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.CommentDetail</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/CreateTestimonial/" class="btn btn-primary">Yeni Referans Girişi</a>

